---
/**
 * ファイル: /src/components/widgets/ws-astro.astro
 * 役割: このサイトの基盤（Astro）への導線
 */
---

<div class="text-xs pz-muted2 space-y-2">
  <div>WEB: Astro</div>
  <div class="flex gap-2 flex-wrap">
    <a href="https://astro.build/" target="_blank" rel="noreferrer" class="pz-link">公式</a>
    <a href="https://docs.astro.build/" target="_blank" rel="noreferrer" class="pz-link">Docs</a>
    <a href="https://github.com/withastro/astro" target="_blank" rel="noreferrer" class="pz-link">GitHub</a>
  </div>
  <div>CSS: Tailwind CSS</div>
  <div class="flex gap-2 flex-wrap">
    <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer" class="pz-link">公式</a>
    <a href="https://tailwindcss.com/docs/installation/using-vite" target="_blank" rel="noreferrer" class="pz-link">Docs</a>
    <a href="https://github.com/tailwindlabs/tailwindcss" target="_blank" rel="noreferrer" class="pz-link">GitHub</a>
  </div>
  <div>ICON: Material Symbols</div>
  <div class="flex gap-2 flex-wrap">
    <a href="https://fonts.google.com/icons" target="_blank" rel="noreferrer" class="pz-link">公式</a>
    <a href="https://github.com/google/material-design-icons" target="_blank" rel="noreferrer" class="pz-link">GitHub</a>
  </div>
</div>
