---
---
<div class="text-xs pz-muted2 space-y-2">
  <div>このサイトは「GenZaiMe」テーマをベースに構築されています。</div>
  <div class="flex gap-2">
    <a href="https://genzai.me" target="_blank" rel="noreferrer" class="pz-link">公式</a>
    <a href="https://github.com/GenZaiMe/genzaime.github.io" target="_blank" rel="noreferrer" class="pz-link">GitHub</a>
  </div>
</div>
