---
---
<div class="text-xs pz-muted2 space-y-2">
  <div>本サイトは以下の方々に応援いただいています。</div>
  <ul class="list-disc list-inside">
    <li><a href="https://sample-corp.genzai.me" target="_blank" rel="noreferrer" class="pz-link">(Sample)GenZaiMe Corp</a></li>
    <li><a href="https://sample-studio.genzai.me" target="_blank" rel="noreferrer" class="pz-link">(Sample)GenZaiMe Studio</a></li>
    <li><a href="https://sample-team.genzai.me" target="_blank" rel="noreferrer" class="pz-link">(Sample)GenZaiMe Team</a></li>
    <li><a href="https://sample-lab.genzai.me" target="_blank" rel="noreferrer" class="pz-link">(Sample)GenZaiMe Lab</a></li>
  </ul>
  <div>スポンサーは随時募集しています。</div>
</div>
