---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout view="page" title="404">
  <div class="pz-block pz-md">
    <h1>404 - Page Not Found</h1>
    <p>お探しのページは見つかりませんでした。</p>
    <p>
      <a href="/" class="pz-link">トップへ戻る</a>
    </p>
  </div>
</BaseLayout>
